.a_tbdr{
    border: 1px solid red;
}
body{
    background-color: #E8E8E8;
}
header{
    height: 80px;
}
main{
    min-height: 2000px;
}
footer{
    height: 400px;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1453px;
}
}
